footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
}

#logo {
    height: 40px;
    width: 40px;
}

#img-home {
    position: fixed; 
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    z-index:1;
}

.social-facebook  {
    height: 30px;
    width: 30px;
}

.social-insta  {
    height: 35px;
    width: 35px;
}

.title-home {
    color: #fff;
    position:absolute;
    z-index:2;
    font-family: 'Sacramento', cursive;
    font-size: 60px;
    top: 50%;
    left: 30%;
}

.title-page {
    text-align: center;
    margin-top: 2rem;
}

input,
textarea {
    border: 1px solid;
    border-radius: 5px;
}
input:hover,
textarea:hover {
    border: 1px solid blue;
    border-radius: 5px;
    box-shadow: 2px 2px 5px;
}

label {
    padding-top: 1rem;
}

.card {
    width: 300px;
    margin-top:2rem;
    border-radius: 15px;
    box-shadow: 2px 2px 5px;
}

.card:hover {
    box-shadow: 8px 8px 20px;
}

.img-gallery {
    width: 300px;
    height:auto;
}

h2 {
    margin-top: 3rem;
    margin-left: 3rem;
}