---
layout: layout.njk
---
<h1 class="title-page">{{site.titleGallery}}</h1>

<main class="container-fluid">

    {% for gallery in collections.galleries %}
        <section>
            <h2>{{gallery.data.title}}</h2>
        </section>
    {% endfor %}

    <hr>

    <img class="img-gallery" src="{{'/uploads/mariage1.jpg'}}" alt="Photo">

    {# {% for gallery in collections.galleries %}
        <section class="d-inline-flex flex-row">
            <h2 class="d-flex justify-content-evenly">{{gallery.data.title}}</h2>    
        </section>
    {% endfor %} #}

</main>

