---
layout: layout.njk
---
<h1 class="title-page">{{site.titleGallery}}</h1>

<main class="container-fluid">

    {% for gallery in collections.galleries %}
        <section>
            <h2>{{gallery.data.title}}</h2>
        </section>
    {% endfor %}

</main>

