---
layout: layout.njk
---
<h1 class="title-page">{{site.titleGallery}}</h1>

<main class="container-fluid">

    {% for galerie in collections.galleries %}
        <nav class="d-inline-flex flex-row">
            <a class="mx-3" href="#">{{galerie.data.title}}</a>
        </nav>
    {% endfor %}
     
    <hr>

    {# Bouclez et créez un balisage pour toutes les images dans /uplaods #}
    {# <section>
        {% for upload in collections.uploads %}
            <img src="{{upload}}" class="img-gallery" alt=""/>
        {% endfor %}
    </section> #}
    
</main>

