---
layout: layout.njk
---

<h1 class="title-home text-center">{{site.titleHome}}</h1>

<p class="title-home text-center">{{site.titleHomeProf}}</p>
<a href="{{ '/galerie/index.html' }}">
    <img id="img-home" src="{{ '/uploads/img_desktop.jpg' }}" alt="Accueil"/>
</a>
