---
layout: layout.njk
---
<div class="container">
    <h1 class="title-home">{{site.titleHome}}</h1>
    <a href="{{ '/galerie/index.html' }}">
        <img id="img-home" src="{{ '/uploads/img_desktop.jpg' }}" alt="Accueil"/>
    </a>
</div>