---
layout: layout.njk
---
<h1 class="title-page">Tarifs et prestations</h1>

<div class="container-fluid row col-10 col-md-10 m-auto justify-content-center">
    <div class="card m-5">
        <div class="card-body">
            <h5 class="card-title text-center">Juste moi</h5>
            <h6 class="card-subtitle mb-2 text-muted text-center">130 euros</h6>
            <p class="card-text text-center">Séance pour une personne, en extérieur ou en studio</p>
        </div>
    </div>

    <div class="card m-5">
        <div class="card-body">
            <h5 class="card-title text-center">Pour deux</h5>
            <h6 class="card-subtitle mb-2 text-muted text-center">195 €</h6>
            <p class="card-text text-center">Pour deux personnes, en extérieur ou en studio</p>
        </div>
    </div>

    <div class="card m-5">
        <div class="card-body">
            <h5 class="card-title text-center">Famille</h5>
            <h6 class="card-subtitle mb-2 text-muted text-center">220 €</h6>
            <p class="card-text text-center">Pour une famille ou les amis jusqu'à 4 personnes, en extérieur ou en studio</p>
            <p class="card-text text-center">30 € supplémentaires par personne au-delà de 4 (hormis enfants jusqu'à 2 ans)</p>
        </div>
    </div>
</div>

<div class="container-fluid row col-10 col-md-10 m-auto justify-content-center">
    <div class="card m-5">
        <div class="card-body">
            <h5 class="card-title text-center">Il était une fois</h5>
            <h6 class="card-subtitle mb-2 text-muted text-center">160 €</h6>
            <p class="card-text text-center">Photo de grossesse (A votre domicile, en extérieur ou en studio)</p>
        </div>
    </div>

    <div class="card m-5">
        <div class="card-body">
            <h5 class="card-title text-center">Mon bébé</h5>
            <h6 class="card-subtitle mb-2 text-muted text-center">100 €</h6>
            <p class="card-text text-center">Photo enfant jusqu'à 3 ans (photo à domicile)</p>
        </div>
    </div>

    <div class="card m-5">
        <div class="card-body">
            <h5 class="card-title text-center">J'immortalise l'événement</h5>
            <h6 class="card-subtitle mb-2 text-muted text-center">Sur mesure</h6>
            <p class="card-text text-center">Prestation de mariage ou baptême sur devis</p>
        </div>
    </div>
</div>